$evergreen: #15582D;
$evergreen-dark: #124424;
$lime: #CED54A;
$limelight: #E9EC8D;
$ruby: #96172E;
$tangerine: #FF7B36;
$dandelion: #FED53D;
$coolgray: #BCBDBC;
$lavendar: #DCC7DF;
$burgundy: #7D0063;
$violet: #4F2D7F;
$royal: #005293;
$robin: #BBE7E6;
$rust: #BD4F19;
$softorange: #F0A74E;
$sand: #E1D8B7;
$tan: #D3BF96;
$brown: #4A3C31;
$brown-dark: #332A23;
$lilac: #C4AFB9;
$raspberry: #6F2C3E;
$raspberry-dark: #531B2A;
$plum: #644459;
$midnight: #263F6A;
$midnight-dark: #1B3459;
$sky: #BAC7C3;
$white: #fff;
$black: #000;

$ultra-light-gray: #f9f9f9;
$light-gray: #e6e6e6;
$medium-gray: #cacaca;
$dark-gray: #8a8a8a;