@import 'site';

.title-card {
    padding: 22vh 0;   
    

    h1 {
        margin: 0 auto;    
        text-transform: uppercase;             

        strong {
            font-size: 4rem;
            color: $black;
            display: block;
            border: 1px solid $white;
        }

        em {
            font-size: 4rem;   
            font-weight: 700;
            color: $black;
            font-style: normal;
            display: inline-block;
            background-color: $white;
            padding: .25em;
            line-height: 4rem;            
            text-align: left;

            br {
                display: none;
            }
        }
    }
}

.secondary-card {
    // padding: 7vh 0 4vh;
    padding-bottom: 4vh;
    text-align: center;
    // background-color: $lime;

    position: relative;

    h2 {
        font-size: 1.5rem;
        font-weight: 600;
        text-transform: uppercase;
    }    
}

.slider-content {
    background-color: $sand;

    [data-uk-lightbox] {
        a {
            display: block;
            position: relative;
            width: 100%;
            padding-top: 100%;
            overflow: hidden;

            figure {
                margin: 0;

                span {              
                    display: block;
                    width: 100%;
                    position: absolute;
                    z-index: 1;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                }

                img {
                    transition: all 200ms ease-in-out;
                    filter: grayscale(100%) brightness(100%) contrast(1.1);
                    opacity: 0.85;
                }

                figcaption {
                    position: absolute;
                    bottom: 0;
                    text-align: center;
                    background: -webkit-gradient(linear,left bottom,left top,from(rgba(0,0,0,.75)),to(rgba(0,0,0,0)));
                    background: linear-gradient(to top,rgba(0,0,0,.75) 0,rgba(0,0,0,0) 100%);
                    width: 100%;
                    z-index: 10;
                    color: #fff;
                    padding: 1em;
                    font-size: .875em;
                    min-height: 4rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-shadow: 0 1px 1px rgba(0,0,0,.7);
                }
            }            
        }
    }

    .flickity-button {
        position: fixed;
        top: 60%;
        text-align: center;
        color: $white;
        width: 3rem;
        height: 3rem;

        background-color: transparent;

        z-index: 100;

        &:hover {
            background: transparent;
        }                       
        
        &:before {
            content: "";
            display: block;
            width: 100%;
            height: 100%;            
            background-repeat: no-repeat;
            background-size: 2rem 2rem;
            background-position: center;
            margin-left: .5rem;

            position: absolute;
            top: 50%;
            left: 50%;

            transform: translate(-50%, -50%);
        }

        &:after {
            content: "";
            display: block !important;
            width: 100%;
            height: 100%;
            border: 1px solid $black;
            background-color: fade-out($color: ($black), $amount: 0.9);
            transform: translate(-50%, -50%) rotate(45deg);

            position: absolute;
            top: 50%;
            left: 50%;
        }

        &.previous {
            &:before {
                margin-left: -.5em;                
                transform: translate(-50%, -50%) rotate(180deg);
            }
        }

        &.previous {
            left: 2rem;
        }

        &.next {
            right: 2rem;
        }
    }
}

.flickity-slider > * {
    width: 100%;
    min-width: 100vw;
}

.side-titles {
    width: 100%;
    background-color: $lime;     
    background-image: url(../assets/topo-white.svg);
    background-repeat: none;
    background-size: cover;
};

.celebrates-titles {
    width: 100%;
}

@media screen and (min-width: $breakpoint-medium) { 
    body {
        padding-top: 96px;
    }
    
    .side-titles {
        position: fixed;
        width: 36vw !important;
    }

    .flickity-slider > * {
        min-width: auto;        
    }

    .title-card {
        height: calc(66vh - 48px);
        padding: 0;
        position: relative;
        z-index: 90;

        h1 {
            strong {
                font-size: 5vw;
                padding: 1vw 2vw;
                line-height: 5vw;
            }
            em {
                font-size: 5vw;
                padding: 1vw 2vw;
                line-height: 5vw;
                
                br {
                    display: block;
                }
            }
        }
    }
    .secondary-card {
        height: calc(34vh - 48px);
        padding-bottom: 0;
        background-color: $tan;

        h2 {
            font-size: 1.5rem;
        }

        &:after {
            content: "";
            display: block !important;
            width: 3rem;
            height: 3rem;
            
            position: absolute;
            top: -2.0rem;
            left: 50%;        
            transform: rotate(45deg) translateX(-50%) translateY(50%);

            background-color: $lime;
            
        }
    }

    .slider-content {
        width: 64vw  !important;
        margin-left: 36vw !important;

        .flickity-button {
            top: 84vh;

            &.previous {
                left: 1%;
            }

            &.next {                
                right: 65.5%;
            }
        }

        article {
            height: 100vh;
            overflow: auto;
            position: fixed;
        }
    }
}

@media screen and (min-width: $breakpoint-large) {    

    .secondary-card {
        h2 {
            font-size: 2.5rem;
        }
    }  
    

    
}